{{ $baseurl := .Site.BaseURL }}

{{if .Params.canonical }}
    {{ $.Scratch.Set "linkToArticle" .Params.canonical }}
    {{ $.Scratch.Set "target" "_blank" }}
{{ else }}
    {{ $.Scratch.Set "linkToArticle" .RelPermalink }}
    {{ $.Scratch.Set "target" "_self" }}
{{ end }}


<article class="post {{ .Section }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ $.Scratch.Get "linkToArticle" }}" target="{{ $.Scratch.Get "target" }}">{{ .Title }}</a></h2>
    </header>
    <section class="post-excerpt">
        {{if .Params.image}}
        <a href="{{ $.Scratch.Get "linkToArticle" }}" target="{{ $.Scratch.Get "target" }}"><img src="{{ $baseurl }}{{.Params.image}}"></a>
        {{end}}
        <p>{{ .Summary }} <a class="read-more" href="{{$.Scratch.Get "linkToArticle"}}" target="{{ $.Scratch.Get "target" }}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{if .Site.Params.logo }}
            <img class="author-thumb" src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Author image" nopin="nopin" />
        {{end}}
        {{if .Site.Params.author}}
            {{.Site.Params.author}}
        {{end}}
        {{if .Params.tags }}on
            {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}tags/{{ $tag | urlize }}/">#{{ $tag }}</a>,
            {{ end }}
        {{end}}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
    </footer>
</article>



