<div class="article-bar" id="post-article-bar">
  <header>
    <!-- <a class="button-icon" href="#" title=
  "Back to Top"><i>&#8673;</i></a> -->
        <h2><em>Reading:</em>{{.Title}}</h2>
    </header>
    <div class="control">
        <a class="button primary newsletter-signup-box" href="http://eepurl.com/Argdf" target="_blank" id="newsletter-modal-trigger">Join my
        newsletter</a>
    </div>
</div>


<!-- <article class="post-next" id="post-next-article">
    <div class="arrw" id="view-next-article">
        <i>&rsaquo;</i>
    </div>
    <div class="content">
        <header>
            <label>Next Article</label>
            <h2><a href="/blog/pirate-metrics-lifecycle-email.html">The
            Pirate's Map to Valuable Lifecycle Emails</a></h2>
        </header><a class="button" href=
        "/blog/pirate-metrics-lifecycle-email.html">Read</a>
    </div>
</article> -->
